.hero {
  padding: $spacing-6 0;
  background-color: $color-background;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: $spacing-8;
  }

  &__image-wrapper {
    flex-shrink: 0;
    width: 200px;
    overflow: hidden;
  }

  &__image {
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    flex: 1;
    order: 2;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-black;
    line-height: 1.1;
    margin-bottom: $spacing-4;
  }

  &__description {
    margin-bottom: $spacing-4;
  }

  &__subtitle {
    font-size: $font-size-md;
    color: $color-text-light;
    margin-bottom: $spacing-1;
    span {
      font-weight: $font-weight-black;
      color: darken($color-secondary, 10%);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: $spacing-4;
    margin-top: $spacing-6;
    margin-left: auto;
    margin-right: auto;
  }

  // Tablet styles
  @media (min-width: $breakpoint-sm) {
    padding: $spacing-8 0;

    &__image-wrapper {
      width: 250px;
    }

    &__title {
      font-size: $font-size-3xl;
      margin-bottom: $spacing-6;
    }

    &__buttons {
      flex-direction: row;
      justify-content: center;
    }
  }

  // Desktop styles
  @media (min-width: $breakpoint-md) {
    padding: $spacing-12 0;

    &__content {
      flex-direction: row;
      text-align: left;
      gap: $spacing-8;
      justify-content: space-between;
      align-items: center;
    }

    &__image-wrapper {
      order: 0;
      width: 40%;
      padding: $spacing-6;
    }

    &__text {
      order: 0;
    }

    &__buttons {
      margin-left: 0;
      margin-right: 0;
    }

    &__title {
      font-size: $font-size-4xl;
      margin-bottom: $spacing-6;
      letter-spacing: -2px;
      line-height: 1;
    }

    &__subtitle {
      font-size: $font-size-lg;
    }
  }

  // Large desktop
  @media (min-width: $breakpoint-lg) {
    padding: $spacing-20 0;

    &__content {
      gap: $spacing-16;
    }

    &__image-wrapper {
      width: 35%;
      padding: $spacing-8;
    }

    &__title {
      font-size: $font-size-5xl;
      margin-bottom: $spacing-6;
    }

    &__description {
      margin-bottom: $spacing-6;
    }
  }
}
